.back {
  background-color: #202020;
  background-image: url(../assets/images/Vector8.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}

.back2{
  background-color: #202020;
  background-image: url(../assets/images/Vector10.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: auto;
}