@import url(../../styles/style.scss);

.jamoa {
    height: 61vw;
  .jttl {
    margin: 8vw 0 5vw 0;
    text-align: center;
    color: var(--col);
    font-family: var(--fontfjura);
    font-size: 5vw;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
  }
}
